<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/principal.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            
            <h:dataTable id="listaInscricoes" value="#{inscricaoBean.inscricoes}" var="inscr">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Número" />
                    </f:facet>
                    <h:outputText value="#{inscr.numero}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="CPF" />
                    </f:facet>
                    <h:outputText value="#{inscr.cpf}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nome" />
                    </f:facet>
                    <h:outputText value="#{inscr.nome}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Cidade" />
                    </f:facet>
                    <h:outputText value="#{inscr.cidade}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Estado" />
                    </f:facet>
                    <h:outputText value="#{inscr.estado}"/>
                </h:column>
                <h:commandButton value="Voltar" action="inscricao"/>
                <h:messages/>
            </h:dataTable>
            
            
        </h:form>
    </ui:define>

</ui:composition>
